<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Project Comics</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet">
    <link href="toastr.css" rel="stylesheet"/>
    <link href="styles.css" rel="stylesheet"/>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
  </head>
<!-- NAVBAR
================================================== -->
  <body>
    <div class="navbar-wrapper">
      <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
          <div id="headerView" class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Project Comics</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <span data-bind="template: { name: 'tabs-template' }"></span>              
              <span data-bind="template: { name: 'login-template' }"></span>              
            </div>
          </div>
        </nav>

      </div>
    </div>
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="2" class=""></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item">
          <img class="first-slide" src="header1.jpg" alt="First slide">          
        </div>
        <div class="item active">
          <img class="second-slide" src="header2.jpg" alt="Second slide">          
        </div>
        <div class="item">
          <img class="third-slide" src="header3.jpg" alt="Third slide">          
        </div>
      </div>
      <a class="left carousel-control" href="#" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->

    {{{body}}}
    <!-- FOOTER -->
    <footer>        
        <p>© 2016 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>
  </body>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script type="text/javascript" src="jquery-2.2.3.js"></script>     
  <script src="bootstrap.min.js"></script>
  <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
  <script src="holder.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="ie10-viewport-bug-workaround.js"></script>
   
  <script type="text/javascript" src="knockout-3.4.0.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  
  <script type="text/javascript" src="main.js"></script>
  <script type="text/javascript" src="socket.js"></script>
  <script type="text/javascript" src="viewModelUsers.js"></script>
  <script type="text/javascript" src="authentication.js"></script>
  <script type="text/javascript" src="storage.js"></script>
  <script type="text/javascript" src="sessionStorage.js"></script>
  <script src="toastr.js"></script>

<div id="templateLogin">

  <script type="text/html" id="login-template">
      <!-- ko ifnot: userLogged() -->
          <form class="navbar-form navbar-right">
              <div class="form-group">
                  <input type="text" placeholder="username" class="form-control" data-bind="textInput: userName">
              </div>
              <div class="form-group">
                  <input type="password" placeholder="Password" class="form-control" data-bind="textInput: userPassword">
              </div>
              <button data-bind="click: login" class="btn btn-success">Sign in</button>
          </form>              
      <!-- /ko -->

      <!-- ko if: userLogged() -->
          <ul class="nav navbar-right top-nav">
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <i class="fa fa-user"></i> <span data-bind="text: userName"></span> <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                      <li><a href="#"><i class="fa fa-fw fa-user"></i> Profile</a></li>                        
                      <li class="divider"></li>
                      <li><a href="#" data-bind="click: logout "><i class="fa fa-fw fa-power-off"></i> Log Out</a></li>
                  </ul>
              </li>
          </ul>                                
      <!-- /ko -->
  </script>

  <script type="text/html" id="tabs-template">
    <ul class="nav navbar-nav">  
      <li class="active"><a href="/">Home</a></li>
        <!-- ko if: userLogged() -->      
        <li><a href="/genres">Genres</a></li>
         <li><a href="/editions">Editions</a></li>
        <!-- /ko -->
        <li><a href="#">News</a></li>
        <!-- ko if: userLogged() -->
        <li><a href="#">Characters</a></li>      
        <!-- /ko -->
    </ul>
  </script>

</div>

</html>