
#header, #footer, .mission, .breadcrumb, .node {
    clear: both;
}

footer {    
    height: 568px;
    border-top: 1px solid #035074;
    background-image: url(http://www.dccomics.com/sites/all/themes/dc_comics_bp/images/footer-bg.png);
    background-position: 50% 0;
    width: 100%;
}